{% extends 'base.html.twig' %}

{% block title %}New Event
{% endblock %}

{% block body %}

	<section class="form-container">
        <div class="form-container__square">
            <h3 class="dashboard-tertiary form-container__title">Event Name</h3>
            <div class="form__bkgrnd-block">
                {{ form_start(form, {'attr': {'class': 'form'}}) }}
                    <div class="form__items">
					
					    {{ form_label(form.eventName, null, {'label_attr': {'class': 'form__label'}}) }}
			            {{ form_widget(form.eventName, {'attr': {'class': 'form__input form__input--text'}}) }}
						{{ form_label(form.eventDate, null, {'label_attr': {'class': 'form__label'}}) }}
			            {{ form_widget(form.eventDate, {'attr': {'class': 'form__input form__input--text'}}) }}
						{{ form_label(form.eventBudget, null, {'label_attr': {'class': 'form__label'}}) }}
			            {{ form_widget(form.eventBudget, {'attr': {'class': 'form__input form__input--text'}}) }}
						{{ form_label(form.eventLocation, null, {'label_attr': {'class': 'form__label'}}) }}
			            {{ form_widget(form.eventLocation, {'attr': {'class': 'form__input form__input--text'}}) }}
			            {{ form_widget(form.image, {'attr': {'class': 'form__input form__input--text'}}) }}
			
			            {% for eventProperty in eventProperties %}
			                <label for="eventProperty">{{ eventProperty.name}}</label>
                            <input type="text" name="property_{{ eventProperty.id}}" id="eventProperty" class="form__input form__input--text" required>
			            {% endfor %}
					</div>
					<div class="form__actions">
                        <button class="form__button-i btn btn__form">{{ button_label|default('Save') }}</button>
                    </div>
				{{ form_end(form) }}
		    </div>
		</div>
	</section>
	{# <a href="{{ path('app_user_eventlist_index') }}">back to list</a> #}
{% endblock %}
