{% extends 'base.html.twig' %}

{% block title %}Checklist index{% endblock %}

{% block body %}
    <h1>Checklist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Slug</th>
                <th>IsChecked</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for checklist in checklists %}
            <tr>
                <td>{{ checklist.id }}</td>
                <td>{{ checklist.description }}</td>
                <td>{{ checklist.slug }}</td>
                <td>{{ checklist.isChecked ? 'Yes' : 'No' }}</td>
                <td>{{ checklist.createdAt ? checklist.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ checklist.updatedAt ? checklist.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_checklist_show', {'id': checklist.id}) }}">show</a>
                    <a href="{{ path('app_user_checklist_edit', {'id': checklist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_checklist_new') }}">Create new</a>
{% endblock %}
