{% extends 'userbase.html.twig' %}

{% block title %}Checklists
{% endblock %}

{% block body %}

	<div class="dashboard-center-container">
		<div class="item-border">
			<h2 class="item-title">Tâches</h2>
			<div class="item-summery">
				<h3 class="item-count">Tâches terminées: {{ checked.check }}</h3>
				<h3 class="item-count">Tâches restantes: {{ unchecked.uncheck }}</h3>
			</div>
		</div>

		<div class="bkgrnd-block">
			{% for checklist in checklists %}
			<div class="item-list">
				    <div class="item-list-single">
						<p class="item-parag">{{ checklist.description }}</p>
						<div class="action-buttons">
							<p><a href="{{ path('app_user_checklist_edit', {'id': eventList.id, 'checklist_id': checklist.id}) }}"><i class="icon fa-solid fa-pen"></i></a></p>
							<p>{{ include('user_checklist/_delete_form.html.twig') }}</p>
						</div>
					</div>
			</div>
				{% else %}
					<p>aucun tâche enregistré</p>
				{% endfor %}
		</div>
		<a href="{{ path('app_user_checklist_new', {'id': eventList.id}) }}" class="btn btn-item">Ajouter un to-do</a>
	   </div>
	</div>
{% endblock %}
