{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="dashboard-center-container">
        <h3 class="dashboard-tertiary dashboard-tertiary-center">Registration</h3>
        <div class="bkgrnd-block-registerform">
        {{ form_start(registrationForm, {'attr': {'class': 'register-form'}}) }}
        {{ form_row(registrationForm.firstname, {'attr': {'class': 'rfirstname'}}) }}
        {{ form_row(registrationForm.lastname, {'attr': {'class': 'rlastname'}}) }}
        {{ form_row(registrationForm.email, {'attr': {'class': 'remaill'}}) }}
		{{ form_row(registrationForm.plainPassword, {'attr': {'class': 'rpassword'}}, {
            label: 'Password'
        }) }}
        {# {{ form_row(registrationForm.client) }} #}
        {{ form_row(registrationForm.client.phone, {'attr': {'class': 'rphone'}}) }}
        {{ form_row(registrationForm.client.address, {'attr': {'class': 'raddress'}}) }}
        {{ form_row(registrationForm.client.city, {'attr': {'class': 'rcity'}}) }}
        {{ form_row(registrationForm.client.zipCode, {'attr': {'class': 'rzip'}}) }}
        {{ form_row(registrationForm.client.country, {'attr': {'class': 'rcountry'}}) }}
        
        

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
    </div>
{% endblock %}