{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <section class="form-container">
        <div class="form-container__square">
            <h3 class="dashboard-tertiary form-container__title">Registration</h3>
            <div class="form__bkgrnd-block">

        {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
        <div class="form__items">

        {{ form_label(registrationForm.firstname, null, {'label_attr': {'class': 'form__label'}}) }}
        {{ form_widget(registrationForm.firstname, {'attr': {'class': 'form__input form__input--text'}}) }}
        {{ form_label(registrationForm.lastname, null, {'label_attr': {'class': 'form__label'}}) }}
        {{ form_widget(registrationForm.lastname, {'attr': {'class': 'form__input form__input--text'}}) }}
        {{ form_label(registrationForm.email, null, {'label_attr': {'class': 'form__label'}}) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form__input form__input--text'}}) }}
        {{ form_label(registrationForm.plainPassword, null, {'label_attr': {'class': 'form__label'}}) }}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'form__input form__input--text'}} }}
        {# {{ form_widget(registrationForm.client) }} #}
        {{ form_label(registrationForm.client.phone, null, {'label_attr': {'class': 'form__label'}}) }}
        {{ form_widget(registrationForm.client.phone, {'attr': {'form__input form__input--text'}}) }}
        {{ form_label(registrationForm.client.address, null, {'label_attr': {'class': 'form__label'}}) }}
        {{ form_widget(registrationForm.client.address, {'attr': {'form__input form__input--text'}}) }}
        {{ form_label(registrationForm.client.city, null, {'label_attr': {'class': 'form__label'}}) }}
        {{ form_widget(registrationForm.client.city, {'attr': {'form__input form__input--text'}}) }}
        {{ form_label(registrationForm.client.zipCode, null, {'label_attr': {'class': 'form__label'}}) }}
        {{ form_widget(registrationForm.client.zipCode, {'attr': {'form__input form__input--text'}}) }}
        {{ form_label(registrationForm.client.country, null, {'label_attr': {'class': 'form__label'}}) }}
        {{ form_widget(registrationForm.client.country, {'attr': {'form__input form__input--text'}}) }}
        
        {{ form_widget(registrationForm.agreeTerms) }}
        </div>

        <div class="form__actions">
            <button type="submit" class="form__button-i btn btn__form">Register</button>
        </div>
        {{ form_end(registrationForm) }}
        </div>
        </div>
    </section>

{% endblock %}

{# {{ form_row(form.name, {'attr': {'class': 'name-input'}}) }} #}