{% extends 'base.html.twig' %}

{% block title %}Tabletab{% endblock %}

{% block body %}
    <h1>Tabletab</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tabletab.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tabletab.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ tabletab.createdAt ? tabletab.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ tabletab.updatedAt ? tabletab.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_tabletab_index') }}">back to list</a>

    <a href="{{ path('app_user_tabletab_edit', {'id': tabletab.id}) }}">edit</a>

    {{ include('user_tabletab/_delete_form.html.twig') }}
{% endblock %}
