{% extends 'userbase.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


    <div class="dashboard-center-container">
        <div class="item-border">
            <h2 class="item-title">My pre-event photos</h2>
        </div>

        <div class="bkgrnd-block">
            <div class="photo-list">
            {% for picture in pictures %}
                <div class="item-list-photo">
                    <p>{{ include('user_picture/_delete_form.html.twig') }}</p>
                    <img class="wedding-img" src="{{ asset('uploads/Pre-Event-Photos/'~ picture.namePath )}}" alt="wedding">
                </div>
            {% endfor %}
            </div>
        </div>
        {# <a href="{{ path('app_user_picture_new', {'id': eventList.id}) }}" class="btn btn-item">Ajouter image</a> #}
        {{ form_start(form, {'attr': {'class': 'photo-form'}}) }}
        {{ form_row(form.image) }}
        <button class="file-btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
    

{% endblock %}