{% extends 'userbase.html.twig' %}

{% block title %}Tabletab index{% endblock %}

{% block body %}
    <h1>Tabletab index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tabletab in tabletabs %}
            <tr>
                <td>{{ tabletab.id }}</td>
                <td>{{ tabletab.name }}</td>
                <td>{{ tabletab.createdAt ? tabletab.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tabletab.updatedAt ? tabletab.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_tabletab_show', {'id': tabletab.id}) }}">show</a>
                    <a href="{{ path('app_user_tabletab_edit', {'id': tabletab.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div>Number of tables {{tableCount['numberTables']}} </div>
    <a href="{{ path('app_user_tabletab_new') }}">Create new</a>
{% endblock %}
