{% extends 'base.html.twig' %}

{% block title %}Dashboard principal
{% endblock %}

{% block body %}

    <section class="dashboard-container">

        <div class="bkgrnd-block">
            <div class="invitation__imagebox">
                <img src="{{ asset('uploads/eventImage/'~ eventList.image )}}" alt="weddingPhoto" class="invitation__image">
                <div class="invitation__info">
                    <h1 class="dashboard-secondary">{{ eventList.eventName }}</h1>
                    <h2 class="dashboard-tertiary ">{{ eventList.eventDate | date('Y-m-d') }}</h2>
                </div>
            </div>

            <div class="invitation__content">
                <h3 class="dashboard-tertiary">Rdsvp</h3>
                <h3 class="dashboard-tertiary">{{ guest.name }}</h3>

                {{ form_start(form, {'attr': {'class': 'invitation__form'}}) }}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="invitation__select">
                        <p>{{ form_label(form.rdsvp, null, {'label_attr': {'class': 'form__label'}}) }}</p>
                        <div class="invitation__radio">
                            <div>
                            {{ form_widget(form.rdsvp) }}
                            </div>
                        </div>
                    </div>

                    <div class="invitation__select">
                    {{ form_label(form.diet, 'Spécificité alimentaire', {'label_attr': {'class': 'form__label'}}) }}
                    {{ form_widget(form.diet) }}
                    </div>
                    <input class="btn invitation__btn" type="submit" value="Submit">
                {{ form_end(form) }}

            </div>
        </div>
    </section>

{% endblock %}