{% extends 'userbase.html.twig' %}

{% block title %}Budget{% endblock %}

{% block body %}
	<section class="dashboard-container">
        <div class="items-container">
    
	    	<div class="items-container__item-space">
	    		<h2 class="items-container__item-title">Budget tracker</h2>
	    		<div class="items-container__items">
	    			<h3 class="items-container__item">Total budget: {{ eventList.eventBudget | format_currency('EUR') }}</h3>
	    			<h3 class="items-container__item">Total payed: {{totalPaid['paidTotal'] |format_currency('EUR')}}</h3>
	    			<h3 class="items-container__item">Total remaining: {{ (eventList.eventBudget - totalPaid['paidTotal']) |format_currency('EUR')}}</h3>
	    		</div>
	    	</div>
    
	    	<div class="bkgrnd-block">
    
	    		{% for expense in expenses %}
	    			<div class="items-container__bkgrnd-block items-container__flex">
	    			    <div class="items-container__item-info">
	    			        <div class="items-container__additionl3">
	    			        	<p class="items-container__additional2 items-container__bold">{{ expense.name }}</p>
            
                                <div class="items-container__additional">
	    			        		<p class="items-container__item-parag">Cost: {{ expense.totalCost | format_currency('EUR') }}</p>
	    			        		<p class="items-container__item-parag">Payed: {{ expense.totalPaid | format_currency('EUR') }}</p>
	    			        		<p class="items-container__item-parag">Remaining: {{ (expense.totalCost -  expense.totalPaid) | format_currency('EUR') }}</p>
	    			        	</div>
	    			        </div>
	    			        <div class="items-container__action-buttons">
	    			        	<p class="items-container__p"><a href="{{ path('app_user_expense_edit', {'id': eventList.id, 'expense_id': expense.id}) }}"><i class="icon fa-solid fa-pen"></i></a></p>
	    			        	<p class="items-container__p">{{ include('user_expense/_delete_form.html.twig') }}</p>
	    			        </div>
                        </div>
	    			</div>
	    		{% else %}
	    		    <p class="items-container__p">no expense added</p>
	    		{% endfor %}
	    		
	    	</div>
	    	<a href="{{ path('app_user_expense_new', {'id': eventList.id}) }}" class="btn btn-item">Add a to-do</a>
	    </div>
	</section>

{% endblock %}
