{% extends 'userbase.html.twig' %}

{% block title %}Expenses{% endblock %}

{% block body %}
	<div class="dashboard-center-container">
		<div class="item-border">
			<h2 class="item-title">Suivi budgétaire</h2>
			<div class="item-summery">
				<h3 class="item-count">Budget total: {{ eventList.eventBudget | format_currency('EUR') }}
				</h3>
				<h3 class="item-count">Total payé:
					{{totalPaid['paidTotal'] |format_currency('EUR')}}</h3>
				<h3 class="item-count">Total restant: {{ (eventList.eventBudget - totalPaid['paidTotal']) |format_currency('EUR')}}
				</h3>
			</div>
		</div>

		<div class="bkgrnd-block">
			{% for expense in expenses %}
				<div class="item-list">
					<p class="item-parag budget-item-parag">{{ expense.name }}</p>
					<div class="item-summery">
						<p class="item-count">Coût total:
							{{ expense.totalCost |format_currency('EUR') }}</p>
						<p class="item-count">Total payé:
							{{ expense.totalPaid |format_currency('EUR') }}</p>
						<p class="item-count">Total restant:
							{{ (expense.totalCost -  expense.totalPaid) | format_currency('EUR') }}</p>
					</div>
					<div class="action-buttons">
						<p>
							<a href="{{ path('app_user_expense_edit', {'id': eventList.id, 'expense_id': expense.id}) }}">
								<i class="icon fa-solid fa-pen"></i>
							</a>
						</p>
						<p>{{ include('user_expense/_delete_form.html.twig') }}</p>
					</div>
				</div>
			{% else %}
				<tr>
					<p>no records found</p>
				</tr>
			{% endfor %}


		</div>
		<a href="{{ path('app_user_expense_new', {'id': eventList.id}) }}" class="btn btn-item">Ajouter dépense</a>
	</div>

{% endblock %}
