{% extends 'userbase.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    
    

	<div class="dashboard-center-container">
		<h3 class="dashboard-tertiary dashboard-tertiary-center">budget</h3>
		<div class="bkgrnd-block-itemform">
			{{ form_start(expenseForm, {'attr': {'class': 'bkgrnd-block-itemform'}}) }}

			{{ form_row(expenseForm.name) }}
			{{ form_row(expenseForm.description) }}
			{{ form_row(expenseForm.totalCost) }}
			{{ form_row(expenseForm.totalPaid) }}


			<div class="items-actions">
				<button class="item-button-i btn-save">{{ button_label|default('Save') }}</button>
				<a href="{{ path('app_user_expense_index', {'id': eventList.id}) }}" class="btn btn-item">retour</a>
			</div>
			{{ form_end(expenseForm) }}
		</div>
	</div>    
{% endblock %}
