{% extends 'base.html.twig' %}

{% block nav %} 
<div class="eventType-menu">
        <div class="menu-button">
        <a href="{{ path('app_user_eventdashboard', {'id': eventList.id}) }}" class="frontmenu-link">
            <i class="icon-button fa-solid fa-compass"></i>
            <p class="text-button">Tableau de bord</a></p>
        </div>
        <div class="menu-button">
        <a href="{{ path('app_user_checklist_index', {'id': eventList.id}) }}" class="frontmenu-link">
            <i class="icon-button fa-solid fa-list-check"></i>
            <p class="text-button">Tâches</a></p>
        </div>
        <div class="menu-button">
        <a href="{{path('app_user_expense_index', {'id': eventList.id})}}" class="frontmenu-link">
            <i class="icon-button fa-solid fa-file-invoice-dollar"></i>
            <p class="text-button">Budget</a></p>
        </div>
        <div class="menu-button">
        <a href="{{path('app_user_guest_index', {'id': eventList.id}) }}" class="frontmenu-link">
            <i class="icon-button fa-solid fa-users"></i>
            <p class="text-button">Invités</a></p>
        </div>
        <div class="menu-button">
        <a href="{{path('app_user_tabletab_index', {'id': eventList.id}) }}" class="frontmenu-link">
            <i class="icon-button fa-solid fa-utensils"></i>
            <p class="text-button">Tables</a></p>
        </div>
        <div class="menu-button">
        <a href="{{ path('app_user_website_theme', {'id': eventList.id})}}" class="frontmenu-link">
            <i class="icon-button fa-solid fa-globe"></i>
            <p class="text-button">Site internet</a></p>
        </div>
        <div class="menu-button">
        <a href="{{ path('app_user_picture_index', {'id': eventList.id}) }}" class="frontmenu-link">
            <i class="icon-button fa-solid fa-images"></i>
            <p class="text-button">Galerie photos</a></p>
        </div>
        <div class="menu-button">
        <a href="{{ path('app_user_wedding_picture_index', {'id': eventList.id}) }}" class="frontmenu-link">
            <i class="icon-button fa-regular fa-images"></i>
            <p class="text-button">Galerie mariage</a></p>
        </div>
        <div class="menu-button">
        <a href="{{ path('app_user_eventlist_edit', {'id': eventList.id}) }}" class="frontmenu-link">
            <i class="icon-button fa-solid fa-gear"></i>
            <p class="text-button">Propriétés</a></p>
        </div>
    </div>
    <button class="hamburger">
        <div class="bar"></div>
    </button>


    <div class="mobile-nav hidden">
        <div class="eventType-menu-burger hidden">
            <p class="text-button-burger"><a href="eventDashboard.html" class="frontmenu-link-burger">tableau de bord</a></p>
            <p class="text-button-burger"><a href="checklist.html" class="frontmenu-link-burger">check-list</a></p>
            <p class="text-button-burger"><a href="budget.html" class="frontmenu-link-burger">budget</a></p>
            <p class="text-button-burger"><a href="guest.html" class="frontmenu-link-burger">invités</a></p>
            <p class="text-button-burger"><a href="table.html" class="frontmenu-link-burger">tables</a></p>
            <p class="text-button-burger"><a href="website.html" class="frontmenu-link-burger">site internet</a></p>
            <p class="text-button-burger"><a href="photos.html" class="frontmenu-link-burger">galerie pré-évént</a></p>
            <p class="text-button-burger"><a href="photos.html" class="frontmenu-link-burger">galerie mariage</a></p>
            <p class="text-button-burger"><a href="eventProperties.html" class="frontmenu-link-burger">propriétés d'évént</a></p>
        </div>
    </div>
    {% endblock %}