{% extends 'base.html.twig' %}

{% block nav %} 
<div class="event-menu">
        <div class="event-menu__button" data-id="0">
            <a href="{{ path('app_user_eventdashboard', {'eventSlug': eventList.eventSlug}) }}" class="event-menu__link">
            <i class="event-menu__icon fa-solid fa-compass"></i>
            <p class="event-menu__text">Dashboard</p>
            </a>
        </div>
        <div class="event-menu__button" data-id="1">
            <a href="{{ path('app_user_checklist_index', {'eventSlug': eventList.eventSlug}) }}" class="event-menu__link">
            <i class="event-menu__icon fa-solid fa-list-check"></i>
            <p class="event-menu__text">Checklist</p>
            </a>
        </div>
        <div class="event-menu__button" data-id="2">
            <a href="{{path('app_user_expense_index', {'eventSlug': eventList.eventSlug})}}" class="event-menu__link">
            <i class="event-menu__icon fa-solid fa-file-invoice-dollar"></i>
            <p class="event-menu__text">Budget</p>
            </a>
        </div>
        <div class="event-menu__button" data-id="3">
            <a href="{{path('app_user_guest_index', {'eventSlug': eventList.eventSlug}) }}" class="event-menu__link">
            <i class="event-menu__icon fa-solid fa-users"></i>
            <p class="event-menu__text">Guests</p>
            </a>
        </div>
        <div class="event-menu__button" data-id="4">
            <a href="{{path('app_user_tabletab_index', {'eventSlug': eventList.eventSlug}) }}" class="event-menu__link">
            <i class="event-menu__icon fa-solid fa-utensils"></i>
            <p class="event-menu__text">Tables</p>
            </a>
        </div>
        <div class="event-menu__button" data-id="5">
            <a href="{{ path('app_user_website_theme', {'eventSlug': eventList.eventSlug})}}" class="event-menu__link">
            <i class="event-menu__icon fa-solid fa-globe"></i>
            <p class="event-menu__text">Website</p>
            </a>
        </div>
        <div class="event-menu__button" data-id="6">
            <a href="{{ path('app_user_picture_index', {'eventSlug': eventList.eventSlug}) }}" class="event-menu__link">
            <i class="event-menu__icon fa-solid fa-images"></i>
            <p class="event-menu__text">Pre-event photos</p>
            </a>
        </div>
        <div class="event-menu__button" data-id="7">
            <a href="{{ path('app_user_wedding_index', {'eventSlug': eventList.eventSlug}) }}" class="event-menu__link">
            <i class="event-menu__icon fa-regular fa-images"></i>
            <p class="event-menu__text">Event photos</p>
            </a>
        </div>
        <div class="event-menu__button" data-id="8">
            <a href="{{ path('app_user_eventlist_edit', {'eventSlug': eventList.eventSlug}) }}" class="event-menu__link">
            <i class="event-menu__icon fa-solid fa-gear"></i>
            <p class="event-menu__text">Event properties</p>
            </a>
        </div>
    </div>
    <button class="hamburger">
        <div class="bar"></div>
    </button>


    <div class="mobile-nav hidden">
        <div class="eventType-menu-burger hidden">
            <p class="text-button-burger"><a href="{{ path('app_user_eventdashboard', {'eventSlug': eventList.eventSlug}) }}" class="frontmenu-link-burger">Dashboard</a></p>
            <p class="text-button-burger"><a href="{{ path('app_user_checklist_index', {'eventSlug': eventList.eventSlug}) }}" class="frontmenu-link-burger">Tasks</a></p>
            <p class="text-button-burger"><a href="{{path('app_user_expense_index', {'eventSlug': eventList.eventSlug})}}" class="frontmenu-link-burger">Budget</a></p>
            <p class="text-button-burger"><a href="{{path('app_user_guest_index', {'eventSlug': eventList.eventSlug}) }}" class="frontmenu-link-burger">Guests</a></p>
            <p class="text-button-burger"><a href="{{path('app_user_tabletab_index', {'eventSlug': eventList.eventSlug}) }}" class="frontmenu-link-burger">Tables</a></p>
            <p class="text-button-burger"><a href="{{ path('app_user_website_theme', {'eventSlug': eventList.eventSlug})}}" class="frontmenu-link-burger">Website</a></p>
            <p class="text-button-burger"><a href="{{ path('app_user_picture_index', {'eventSlug': eventList.eventSlug}) }}" class="frontmenu-link-burger">Pre-event photos</a></p>
            <p class="text-button-burger"><a href="{{ path('app_user_wedding_index', {'eventSlug': eventList.eventSlug}) }}" class="frontmenu-link-burger">Event photos</a></p>
            <p class="text-button-burger"><a href="{{ path('app_user_eventlist_edit', {'eventSlug': eventList.eventSlug}) }}" class="frontmenu-link-burger">Event properties</a></p>
        </div>
    </div>
    {% endblock %}