{% extends 'base.html.twig' %}

{% block title %}Events List{% endblock %}

{% block body %}

    <div class="dashboard-center-container">
        <a href="{{ path('app_maindashboard') }}" class="back-dashboard">Retour au dashboard</a>
        <h1 class="dashboard-title">My Event Planner</h1>
        <div class="bkgrnd-block">
                    <h2 class="dashboard-secondary">Liste de tous mes événements</h2>
                    <div class="item-list">
                        <div class="item-list-single">
                        {% for event_list in event_lists %}
                            <p class="item-parag"><a href="{{ path('app_user_eventlist_show', {'id': event_list.id}) }}">{{ event_list.eventName }}</a></p>
                            <p class="item-parag">{{ event_list.eventDate ? event_list.eventDate|date('Y-m-d') : '' }}</p>
                            <p class="item-parag">{{ event_list.eventBudget |format_currency('EUR') }}</p>
                            <p class="item-parag">{{ event_list.eventLocation }}</p>
                            <p class="item-parag">{{ event_list.image }}</p>
                            <div class="action-buttons">
                                <p>{{ include('user_eventlist/_delete_form.html.twig') }}</p>
                            </div>
                             {% else %}
                             <p>no records found</p>
                             {% endfor %}
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
{% endblock %}
