{% extends 'base.html.twig' %}

{% block title %}Main dashboard{% endblock %}

{% block body %}

	<section class="dashboard-container">
        <div class="items-container">
            <div class="items-container__top">
                <h1 class="title">My Event Organiser</h1>
            </div>
            
            <div class="bkgrnd-block">
                <div class="main-dashboard__flex">
                    <div class="main-dashboard__left">
                        <h2 class="dashboard-secondary"><a href="{{ path('app_user_eventlist_index') }}">List of all my events</a></h2>
                        <h2 class="dashboard-secondary">My last three current events</h2>
                        <div class="main-dashboard__list">
                            {% for eventList in eventLists %}
                            <h3 class="dashboard-tertiary"><a href="{{ path('app_user_eventdashboard', {'id': eventList.id}) }}">{{ eventList.eventName }}</a></h3>
                            {% endfor %}
                        </div>
                        <h2 class="dashboard-secondary">My last three past events</h2>
                        <div class="main-dashboard__list">
                            {% for pastEvent in pastEventLists %}
                            <h3 class="dashboard-tertiary"><a href="{{ path('app_user_eventdashboard', {'id': pastEvent.id}) }}">{{ pastEvent.eventName }}</a></h3>
                        </div>
                    </div>
                    <div class="main-dashboard__right">
                        <h2 class="dashboard-secondary">Create your event</h2>
                        <div class="main-dashboard__list main-dashboard__eventtype">
                            {% for eventType in eventTypes %}
                            <h3 class="dashboard-tertiary"><a href="{{ path('app_user_eventlist_form', {'slug': eventType.slug}) }}"> {{ eventType.name }}</a></h3>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
