{% extends 'userbase.html.twig' %}

{% block title %}Guests{% endblock %}

{% block body %}

<div class="dashboard-center-container">
        <div class="item-border">
            <h2 class="item-title">Guest</h2>
            <div class="item-summery">
                <h3 class="item-count">Participe: {{attendings}}</h3>
                <h3 class="item-count">Décliné: {{declines }} </h3>
                <h3 class="item-count">En attente de réponse: {{ guestNumber - (attendings + declines) }} </h3>
                <h3 class="item-count">Guests vegans: {{vegans }}</h3>
                <h3 class="item-count">Guests vegeratians: {{vegetarians }} </h3>
                <h3 class="item-count">Guests omnivores: {{omnivores }} </h3>
            </div>
        </div>

        <div class="bkgrnd-block">
            <div class="item-list">
            {% for guest in guests %}
                <div class="item-list-single">
                    <div class="guest-list-single">
                        <p class="item-parag">{{ guest.name }}</p>
                        <p class="item-parag">{{ guest.rdsvp }}</p>
                        <p class="item-parag">{{ guest.diet }}</p>
                    </div>
                    <div class="action-buttons">
                        <p><a href="{{ path('app_user_guest_edit', {'id': eventList.id, 'guest_id': guest.id}) }}"><i class="icon fa-solid fa-pen"></i></a>
                        <p>{{ include('user_guest/_delete_form.html.twig') }}</p>
                    </div>
                </div>
                {% else %}
            
                <p>aucun resultat trouvé</p>
            
        {% endfor %}
            </div>
            <p>* Ajouter d'abord une table avant d'insérer l'invitée, si vous voulez choisir sa table tout de suite
        </div>
        <a href="{{ path('app_user_guest_new', {'id': eventList.id}) }}" class="btn btn-item">Ajouter guest</a>
</div>    
{% endblock %}

{# <a href="{{ path('app_user_guest_new') }}">Create new</a> #}
{# <a href="{{ path('app_user_guest_show', {'id': guest.id}) }}">show</a>
<a href="{{ path('app_user_guest_edit', {'id': guest.id}) }}">edit</a> #}
{# <input type="submit" class="item-button-i btn-effacer" value="Effacer"> #}

