{% extends 'userbase.html.twig' %}

{% block title %}Guests{% endblock %}

{% block body %}

<section class="dashboard-container">
        <div class="items-container">
            <div class="items-container__item-space">
                <h2 class="items-container__item-title">Guests</h2>
                <div class="items-container__items">
                    <h3 class="items-container__item">Attending: {{attendings}}</h3>
                    <h3 class="items-container__item">Declined: {{declines }}</h3>
                    <h3 class="items-container__item">Awaiting for a response: {{ guestNumber - (attendings + declines) }}</h3>
                    <h3 class="items-container__item">Vegans: {{vegans }}</h3>
                    <h3 class="items-container__item">Vegetarians: {{vegetarians }}</h3>
                    <h3 class="items-container__item">Pescatarians: {{ pescatarians }}</h3>
                    <h3 class="items-container__item">Omnivore: {{omnivores }}</h3>
                </div>
            </div>

            <div class="bkgrnd-block ">

                {% for guest in guests %}
                <div class="items-container__bkgrnd-block items-container__flex">
                    <div class="items-container__item-info">
                        <div class="items-container__additional">
                            <p class="items-container__item-parag">{{ guest.name }}</p>
                            <p class="items-container__item-parag">{{ guest.rdsvp }}</p>
                            <p class="items-container__item-parag">{{ guest.diet }}</p>
                        </div>
                        <div class="items-container__action-buttons">
                            <p class="items-container__p"><a href="{{ path('app_user_guest_edit', {'eventSlug': eventList.eventSlug, 'guest_id': guest.id}) }}" class="items-container__a items-container__a--1"><i class="icon fa-solid fa-pen"></i></a></p>
                            <p class="items-container__p">{{ include('user_guest/_delete_form.html.twig') }}</p>
                        </div>
                    </div>
                </div>
                {% else %}
                    <p>no added guest yet</p>
                {% endfor %}
                <p>*First create a table to be able to place a guest</p>
                
                
            </div>
            <a href="{{ path('app_user_guest_new', {'eventSlug': eventList.eventSlug}) }}" class="btn btn-item">Add a guest</a>
        </div>
    </section>

{% endblock %}

{# <a href="{{ path('app_user_guest_new') }}">Create new</a> #}
{# <a href="{{ path('app_user_guest_show', {'id': guest.id}) }}">show</a>
<a href="{{ path('app_user_guest_edit', {'id': guest.id}) }}">edit</a> #}
{# <input type="submit" class="item-button-i btn-effacer" value="Effacer"> #}

